name: GraalVM Native Image builds
on: [push, pull_request]
jobs:
  build:
    name: hass-qli on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
          
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Build 
        run: |
          ## skipping until we find reliable way to mock websocket/rest homeassistant api
          mvn -Pnative clean package -DskipTests
      
      - name: Upload jar
        uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-latest'
        with:
            name: hass-qli-${{ matrix.os }}.jar
            path: target/hass-qli-*-SNAPSHOT.jar

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os == 'windows-latest' && format('hass-qli-{0}.exe', matrix.os) || format('hass-qli-{0}', matrix.os) }}
          path: target/${{ matrix.os == 'windows-latest' && 'hass-qli-*-SNAPSHOT.exe' || 'hass-qli-*-SNAPSHOT' }}
